body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  overflow: hidden;
}

.chat {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .chat__error {
    background-color: red;
    color: white;
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-weight: bold;
  }

  & > span {
    font-size: 14px;
    margin: 0 10px;

    a {
      color: #1B699F;
      text-decoration: none;
    }
  }
}